{% extends 'base.html.twig' %}

{% block title %}Map index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <h1>Map index</h1>
    <div id="map-container">
        <div class="hidden">
            {% for store in stores %}
                <div class="store">
                    <p class="name">{{ store.name }}</p>
                    <p class="description">{{ store.description }}</p>
                    <p class="city">{{ store.city }}</p>
                    <p class="address">{{ store.address }}</p>
                    <p class="lat">{{ store.latitude }}</p>
                    <p class="long">{{ store.longitude }}</p>
                    {% for hour in store.openingHours %}
                        <div class="opening">
                            <p class="day">{{ hour.day }}</p>
                            <p class="open">{{ hour.startTime|date('H:i') }}</p>
                            <p class="close">{{ hour.endTime|date('H:i') }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
