@import "~bootstrap";
@import "./reset.css";

form div {
    margin-bottom: 1rem;
}

.container-xl {
    padding-top: 30px;
    padding-bottom: 30px;
}
.hidden{
    visibility: hidden;
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

#map-container{
    height: 550px;
}

th, b {
    font-weight: 600;
}

form label {
    width: 100%;
    margin-bottom: 5px;
}

form .btn {
    margin-bottom: 8px;
}

form ul {
    margin-left: 40px;
}
