<form method="post" action="{{ path('opening_hour_delete', {'id': opening_hour.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ opening_hour.id) }}">
    <button class="btn">Delete</button>
</form>
