{% extends 'base.html.twig' %}

{% block title %}OpeningHour index{% endblock %}

{% block body %}
    <h1>OpeningHour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opening_hour in opening_hours %}
            <tr>
                <td>{{ opening_hour.id }}</td>
                <td>{{ opening_hour.startTime ? opening_hour.startTime|date('H:i:s') : '' }}</td>
                <td>{{ opening_hour.endTime ? opening_hour.endTime|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('opening_hour_show', {'id': opening_hour.id}) }}">show</a>
                    <a href="{{ path('opening_hour_edit', {'id': opening_hour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('opening_hour_new') }}">Create new</a>
{% endblock %}
