{% extends 'base.html.twig' %}

{% block title %}New OpeningHour{% endblock %}

{% block body %}
    <h1>Create new OpeningHour</h1>

    {{ include('opening_hour/_form.html.twig') }}

    <a href="{{ path('opening_hour_index') }}">back to list</a>
{% endblock %}
