{% extends 'base.html.twig' %}

{% block title %}OpeningHour{% endblock %}

{% block body %}
    <h1>OpeningHour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opening_hour.id }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ opening_hour.startTime ? opening_hour.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ opening_hour.endTime ? opening_hour.endTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('opening_hour_index') }}">back to list</a>

    <a href="{{ path('opening_hour_edit', {'id': opening_hour.id}) }}">edit</a>

    {{ include('opening_hour/_delete_form.html.twig') }}
{% endblock %}
