<form method="post" action="{{ path('store_delete', {'id': store.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ store.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
