{{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}
        {{ form_row(form.postalCode) }}

<div><p>Opening hours</p></div>
<ul id="opening_list" data-prototype="{{ form_widget(form.openingHours.vars.prototype)|e('html_attr') }}"> {% for row in form.openingHours %}
        <li class="panel">
            {{ form_row(row) }}
        </li>
    {% endfor %}
</ul>
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
