{% extends 'base.html.twig' %}

{% block title %}Store index{% endblock %}

{% block body %}
    <h1>Store index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.name }}</td>
                <td>{{ store.description }}</td>
                <td>{{ store.address }}</td>
                <td>{{ store.city }}</td>
                <td>{{ store.postalCode }}</td>
                <td>{{ store.latitude }}</td>
                <td>{{ store.longitude }}</td>
                <td>
                    <a href="{{ path('store_show', {'id': store.id}) }}">show</a>
                    <a href="{{ path('store_edit', {'id': store.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('store_new') }}">Create new</a>
{% endblock %}
