{% extends 'base.html.twig' %}

{% block title %}New Store{% endblock %}

{% block body %}
    <a class="back" href="{{ path('store_index') }}">back to list</a>

    <h1>Create new Store</h1>

    {{ include('store/_form.html.twig') }}
{% endblock %}
