{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
    <h1>Store</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ store.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ store.description }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ store.address }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ store.city }}</td>
        </tr>
        <tr>
            <th>PostalCode</th>
            <td>{{ store.postalCode }}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{ store.latitude }}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ store.longitude }}</td>
        </tr>
        <tr>
            <th>Day</th>
            <th>Open at</th>
            <th>Close at</th>
        </tr>
        {% for hour in store.openingHours %}
            <tr>
                <td>{{ hour.day }}</td>
                <td>{{ hour.startTime|date('H:i') }}</td>
                <td>{{ hour.endTime|date('H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('store_index') }}">back to list</a>

    <a href="{{ path('store_edit', {'id': store.id}) }}">edit</a>

    {{ include('store/_delete_form.html.twig') }}
{% endblock %}
